click==8.1.3
couchbase==4.0.2
flake8==4.0.1
Flask==2.1.2
geographiclib==1.52
geopy==2.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.6.1
numpy==1.23.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyModeS==2.11
pyzmq==23.2.0
Werkzeug==2.1.2
